<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>list</title>
	<link rel='stylesheet' href='/css/style.css'>
</head>
<body>

	<% if(page == "list") { %>
	<% if(output) { %>
	<div id="list">
		<ul>
			<% for(var i = 0; i < output.length; i++) { %>
			<li><a href="/<%= output[i].name %>"><%= output[i].name %></a> <%= output[i].size %> bytes, created <%= output[i].modified %></li>
			<% } %>
		</ul>
	</div>
	<% } %>



	<% } else if(page == "single") { %>

	<div id="header">
		<%= file.size %> bytes, <%= file.modified %>
	</div>

	<%- output %>
	<!-- <a href="/">back to list</a> -->
	<% } %>


</body>
</html>